body {
    font-family: Arial, sans-serif;
    padding-top: 20px; /* Top spacing */
    text-align: center; 
    background-color: white;
}

.logo {
    font-size: 32px; 
    font-weight: bold;
    padding-left: 140px;
}

.login {
    position: absolute; 
    top: 10px; 
    right: 20px;
    text-decoration: underline;
    font-size: 18px;
}

.login a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.sidebar {
    width: 180px;  
    height: 900px; /*Height of bar*/
    background-color: #0b0b0b;  
    position: fixed; /*Left align bar*/
    top: 0; /*Keeps top and left edge stay*/
    left: 0;
}

.sidebar ul {
    list-style-type: none;  
    padding: 20px;  
}

.sidebar ul li {
    padding: 15px; 
}

.sidebar ul li a {
    text-decoration: none;  /* Remove underline from link */
    color: #ecf0f1; 
    font-size: 20px;
    font-weight: 500;
}
